.tooltip {
    display: none;
    position: absolute;
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
    color: #000;
}

.ems_event_wrapper {

}

.ems_event_entry {
    margin-bottom: 5px;
    overflow: auto;
}

.ems_event_entry_date {
    float: right;
    text-align: right;
}

.ems_event_participant_level_icon_wrapper {
    display: inline-block;
}

.ems_event_participant_type_icon_wrapper {
    float: right;
}

.ems_event_participant_level_icon_wrapper img,
.ems_event_participant_type_icon_wrapper img {
    height: 2rem;
    width: auto;
    vertical-align: baseline;
    padding-left: 5px;
}

.ems_event_participant_level_icon_wrapper img:first-of-type,
.ems_event_participant_type_icon_wrapper img:first-of-type {
    padding-left: 0;
}

.ems_event_icon_legend_wrapper {
    overflow: auto;
}

.ems_event_icon_legend_wrapper img {
    height: 2rem;
    width: auto;
    vertical-align: baseline;
}

.ems_event_icon_legend_column {
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    margin-bottom: 10px;
    float: left;
    padding-left: 40px;
}

.ems_event_icon_legend_column:first-of-type {
    padding-left: 0;
}

.ems_event_icon_legend_entry {
    width: 28%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
}

.ems_event_icon_legend_entry img {
    float: right;
}

.ems_event_icon_legend_entry {
    /*height: 2rem;*/
    /*overflow: auto;*/

    width: 100%;
    float: none;
    padding-left: 0;
    position: relative;
    margin-bottom: 5px;
}

.ems_event_icon_legend_entry img {
    float: none;
    vertical-align: bottom;
    /*position: absolute;*/
    right: 0;
}

.ems_event_icon_legend_entry_text {
    width: 11rem;
    display: inline-block;
}

.ems_single_event_icon_wrapper {
    width: 100%;
    margin-bottom: 5px;
    overflow: auto;
}

.ems_single_event_icon_column_wrapper {
    float: left;
    display: inline-block;
    padding-left: 40px;
}

.ems_single_event_icon_column_wrapper:first-of-type {
    padding-left: 0;
}

.ems_event_header_icon {
    height: 2rem;
    width: auto;
    padding-left: 10px;
}

.ems_event_header_icon:first-of-type {
    padding-left: 0;
}

@media screen and (max-width: 500px) {
    .ems_event_entry_date {
        float: none;
        text-align: left;
    }

    .ems_event_icon_legend_column,
    .ems_single_event_icon_column_wrapper {
        float: none;
        padding-left: 0;
    }
}